
@media screen and (min-width: 490px) {
    


#footer{
    height:52vw;
    width: 100vw;
    background: #15A14F;
background: linear-gradient(180deg, rgba(21, 161, 79, 1) 0%, rgba(17, 155, 105, 1) 16%, rgba(14, 150, 125, 1) 39%, rgba(12, 132, 111, 1) 57%, rgba(1, 5, 15, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;    
}
#fleft{
    height:100%;
    width: 45%;
    display: flex;
    flex-direction: column;    
}
#fright{
    height:100%;
    width: 55%;
    display: flex;
    flex-direction: column;    
}
#fmain{
    height:4vw;
    width: 20vw;
    display: inline-flex;
    font-family: 'A3', sans-serif;
    color:rgb(245, 243, 243);
    font-size: 2vw;
    font-weight: 600;
    overflow: hidden;
    perspective: 1500px;
    pointer-events: none;
    margin-top:1.5vw;
    margin-left: 1.5vw;
}


.link{
    position: relative;
    transform: translateY(3vw);
    margin-left: 8vw;
    
}
#on{
    color:rgb(183, 179, 179);
}
#off{
    position: absolute;
    margin-top: 2vw;
    transform:translateX(-5vw);
    opacity: 0;
    transition: all 0.35s ease-in-out;
}
.off:hover #off{
    opacity: 1;
    transform:translateX(-3vw);
    margin-top: 0;
}
.off{
   padding-left:3vw;
}

.link a{
    font-family: 'A3', sans-serif;
    color:white;
    font-size: 2.5vw;
    text-decoration: none;
    font-weight: 600;
    margin: 1vw;
    transform: translateY(3vw);
    opacity: 0;
}
#video-wrapper{
    margin-left: 1.5vw;
    margin-top: 9vw;
   width:80%;
   height: 20vw;   
   overflow: hidden;
   clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);  
}
#video-wrapper video{
    width: 29vw;
    height:17vw;
    object-fit: cover;
}
#socials{
   display: flex;
   gap: 13vw;
   margin-left: 15vw;
   margin-top: 10vw;
   color:whitesmoke;
   font-family: 'A3', sans-serif;
   font-size: 0.9vw;
   font-weight: 300;
}
#socials a{
    text-decoration: none;
    color:whitesmoke;
}
#socials .sub-col p{
    transform: translateY(3vw);
    opacity: 0;
}
.spacediv{
    margin-top: 5vw;
}

#header{
    color:whitesmoke;
    font-family: sc;
    font-size:23vw;
   
    font-weight: 600;
    margin-top: 2vw;
    margin-left: 8vw;
    overflow: hidden;
   
}
#header span{
    position: relative;
     opacity: 0;
    display: inline-block;
    transform:scale(0.75) translateY(6vw) rotateY(90deg);
    transform-origin: bottom;
}
}
@media (max-width: 490px) {
    #footer{
        height:33vh;        
        width: 100.5vw;
        background: #15A14F;
background: linear-gradient(180deg, rgba(21, 161, 79, 1) 0%, rgba(17, 155, 105, 1) 16%, rgba(14, 150, 125, 1) 39%, rgba(12, 132, 111, 1) 57%, rgba(1, 5, 15, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    #fleft{
        height:100%;
        width: 45%;
        display: flex;
        flex-direction: column;    
    }
    #fmain{
        height:4vw;
        width: 20vw;
        display: inline-flex;
        font-family: a2;
        color:rgb(245, 243, 243);
        font-size: 1.8vh;
        font-weight: 600;
        overflow: hidden;        
        pointer-events: none;
        margin-top:1.5vw;
        margin-left: 1.5vw;
        margin-bottom: 29vw;
    }
    .link{
        
        position: relative;
        font-size: 1.65vh;
        font-weight: 500;
        font-family: a1;  
        transform: translateY(4vh);

         }
         .link a{
            
            font-family: a1;
            color:white;            
            text-decoration: none;
            font-weight: 600;
            margin: 1vw;
            transform: translateY(4vh);
            opacity: 0;
        }
    #on{
        color:rgb(183, 179, 179);
        text-decoration: none;
        font-family: a1;
    }
    #off{         
        text-decoration: none;         
        color:whitesmoke;
    }
    .off{        
        color:whitesmoke;
        text-decoration: none;
        font-family: a1;
     }
    #video-wrapper{
        display: none;
    }

    #socials{
        display: flex;
        gap: 13vw;
        margin-left: 15vw;
        margin-top: 5vw;
        color:whitesmoke;
        font-family: a2;
        font-size: 0.98vh;
        font-weight: 200;
     }
     #socials a{
         text-decoration: none;
         color:whitesmoke;
     }
     #socials .sub-col p{
        transform: translateY(3vh);
        opacity: 0;    
    }
    
     .spacediv{
         margin-top: 5vw;
     }
     #header{
        color:whitesmoke;
        font-family: sc;
        font-size:11vh;    
        font-weight: 600;
        margin-top: 2vw;
        overflow: hidden;
        width:60vw;       
       
    }
    #header span{
        position: relative;
         opacity: 0;
        display: inline-block;
        transform:translateY(6vh) rotateY(90deg);
        transform-origin: bottom;
    }
     




    



}
